@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack-Regular.ttf") format(tff);
}

* {
  font-family: Hack, sans-serif;
}
.title {
  text-align: center;
}

h1 {
  margin: 0.3em;
}

h2 {
  margin: 0.3em;
  margin-bottom: 1.5em;
}

.resultContainer {
  background-color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  border: solid black 3px;
  border-bottom: none;
}

.result {
  height: 75%;
  background-color: #97baff;
  width: 85%;
  border: solid black 2px;
}

.result p {
  text-align: right;
  padding-right: 0.4rem;
  font-size: 30px;
  margin: 5px;
  overflow: auto;
  padding-top: 0.5rem;
}

.calculator-body {
  max-width: 45%;
  margin: auto;
}

.button {
  display: block;
  background-color: #bababa;
  border: solid black 1px;
}

button {
  background-color: #828282;
  border: solid black 1px;
  text-decoration: none;
  width: 25%;
  height: 25%;
  font-size: 30px;
}

button:hover, button:focus {
  background-color: #ababc2;
}

button:focus {
  outline: 1px solid #000;
}

button:active {
  outline: 1px solid #000;
}

.foot {
  text-align: center;
}

h3 {
  margin: 0.3em;
  margin-top: 1.5em;
}

h4 {
  margin: 0.3em;
}

h5, a {
  margin: 0.3em;
  text-decoration: #000 dashed 2px underline;
  color: #3737ff;
}